/* import all other css files in folder css */
@import "normalize.css";
@import "typo.css";
@import "utilitaires.css";

/* 
    --couleur-texte: #022b50;
    --couleur-titres-h1-h3: darkmagenta;
    --couleur-dominante: darkmagenta;
    --couleur-secondaire: #418cff;
    --bg-couleur-contraste: #efefef;
 */

body {
    color: var(--couleur-texte);
}

a {
    color: var(--couleur-dominante);
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    color: var(--couleur-titres-h1-h3);
}

header a {
    max-height: 10rem;
}

header img {
    height: 100%;
}

.rangee {
    display: flex;
    flex-direction: row;
}

.colonne {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rangee li {
    margin: 0 2rem;
}

header {
    background-color: var(--bg-couleur-contraste);
    color: white;
    padding: 1rem;
}

header nav {
    align-items: center;
    display: flex;
    flex-direction: column;
}


@media (max-width: 768px) {
    .rangee li {
        margin: 0 2rem;
    }

    header {
        background-color: var(--bg-couleur-contraste);
        color: white;
        padding: 1rem;
    }

    header nav {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}